.form {
  height: 100vh;
  flex-direction: column;
}

.form_wrapper {
  padding: 75px 60px;
  background-color: lightblue;
  box-shadow: 0 0 50px #8080809e;
  margin: 0px auto;
  width: 400px;
  justify-content: center;
  align-items: middle;
}

.form .form_title {
  margin-bottom: 50px;
}
